@*Define model*@
@model IEnumerable<Movie>

@*Define ViewData*@
@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
@foreach (var item in Model)
{
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" width="100%" alt="@item.Nmae">
                    </div>
</div>
